<%= render 'users/userlist' %>

<%= render 'booklist' %>

<h1>Book detail</h1>
<div>
  <%= image_tag @book.get_profile_image(100, 100) %>
  <%= link_to user_path(current_user.id) do %>
  <%= @book.user.name %>
  <% end %><!-- 後でuserページ(マイページ)に遷移するリンクを付ける-->
  <p><%= link_to @book.title %></p><!--Book detailに遷移するリンクを付ける-->
  <p><%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
